:host {
	display: block;
}

ms-level-control {
  position: absolute;
  margin-top: 60px;
  margin-left: -25px;
  z-index: 1;
}

.adrenalineRush {
  @include chart-row(4);
  @include chart-column(3);
}

.bloodPrice {
  @include chart-row(5);
  @include chart-column(3);
}

.bloodlust {
  @include chart-row(3);
  @include chart-column(3);
}

.darkAura {
  @include chart-row(1);
  @include chart-column(3);
}

.darkBreaker {
  @include chart-row(4);
  @include chart-column(2);
}

.darkMight {
  @include chart-row(6);
  @include chart-column(1);
}

.deathSpin {
  @include chart-row(2);
  @include chart-column(1);
}

.deepWounds {
  @include chart-row(5);
  @include chart-column(4);
}

.earthquake {
  @include chart-row(6);
  @include chart-column(4);
}

.greatswordMastery {
  @include chart-row(3);
  @include chart-column(4);
}

.groundBreaker {
  @include chart-row(3);
  @include chart-column(1);
}

.inhumanEndurance {
  @include chart-row(6);
  @include chart-column(3);
}

.intimidation {
  @include chart-row(4);
  @include chart-column(4);
}

.ragingSlash {
  @include chart-row(1);
  @include chart-column(1);
}

.voidSlash {
  @include chart-row(3);
  @include chart-column(2);
}

.warriorsInstinct {
  @include chart-row(5);
  @include chart-column(2);
}

.xSlash {
  @include chart-row(1);
  @include chart-column(4);
}
