:host {
	display: block;
}

ms-skill {
  position: absolute;
  margin-top: 60px;
  margin-left: -25px;
  z-index: 1;
}

.bladeChasm {
  @include chart-row(6);
  @include chart-column(1);
}

.bladeMastery {
  @include chart-row(5);
  @include chart-column(2);
}

.blink {
  @include chart-row(1);
  @include chart-column(4);
}

.echoingBlade {
  @include chart-row(2);
  @include chart-column(1);
}

.elementalPotency {
  @include chart-row(6);
  @include chart-column(4);
}

.flameSigil {
  @include chart-row(3);
  @include chart-column(3);
}

.flurry {
  @include chart-row(1);
  @include chart-column(1);
}

.frostSigil {
  @include chart-row(4);
  @include chart-column(3);
}

.gravityRune {
  @include chart-row(3);
  @include chart-column(4);
}

.honingRunes {
  @include chart-row(6);
  @include chart-column(3);
}

.illusoryBlades {
  @include chart-row(4);
  @include chart-column(2);
}

.impact {
  @include chart-row(3);
  @include chart-column(1);
}

.runeBalance {
  @include chart-row(1);
  @include chart-column(3);
}

.runeFocus {
  @include chart-row(5);
  @include chart-column(1);
}

.stormSigil {
  @include chart-row(5);
  @include chart-column(3);
}

.wardingRune {
  @include chart-row(4);
  @include chart-column(4);
}

.whirlingBlades {
  @include chart-row(3);
  @include chart-column(2);
}
