
:host {
  display: block;
  width: 108px;
  height: 33px;
}

.minus, .plus {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 33px;
}

.minus {
  left: 0;
}
.plus {
  right: 0;
}
