:host {
	display: block;
}

ms-level-control {
  position: absolute;
  margin-top: 60px;
  margin-left: -25px;
  z-index: 1;
}

.arcaneBlast {
  @include chart-row(2);
  @include chart-column(1);
}

.chainLightning {
  @include chart-row(3);
  @include chart-column(3);
}

.cryomancy {
  @include chart-row(5);
  @include chart-column(2);
}

.electromancy {
  @include chart-row(6);
  @include chart-column(3);
}

.elementalMaster {
  @include chart-row(6);
  @include chart-column(4);
}

.flameTornado {
  @include chart-row(4);
  @include chart-column(1);
}

.flameWave {
  @include chart-row(3);
  @include chart-column(1);
}

.focusSeal {
  @include chart-row(5);
  @include chart-column(4);
}

.iceSpear {
  @include chart-row(3);
  @include chart-column(2);
}

.iceStorm {
  @include chart-row(4);
  @include chart-column(2);
}

.magicArmor {
  @include chart-row(3);
  @include chart-column(4);
}

.manaClaw {
  @include chart-row(6);
  @include chart-column(1);
}

.manaFont {
  @include chart-row(1);
  @include chart-column(3);
}

.phantomClaw {
  @include chart-row(1);
  @include chart-column(1);
}

.pyromancy {
  @include chart-row(5);
  @include chart-column(1);
}

.teleport {
  @include chart-row(1);
  @include chart-column(4);
}

.thunderbolt {
  @include chart-row(4);
  @include chart-column(3);
}
