
:host {
  cursor: url(assets/cursor.png), auto;
}

pre {
  cursor: auto;
  width: 600px;
  height: 100px;
  margin-left: 50px;
  margin-top: 20px;
  border: 1px solid gray;
  white-space: pre-wrap;
  overflow: hidden;
}