
:host {
  display: block;
  width: 818px;
  height: 775px;
  cursor: url($maple-cursor), auto;
}

.chart {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  font-family: Roboto, Arial;
  
  // &:active {
  //   cursor: url(assets/cursor-down.png), auto;
  // }
}

.chart > *:not(ms-footer) {
  position: absolute;
  height: 50px;
  width: 58px;

  &:after {
    content: attr(level) "/" attr(max);
    position: absolute;
    top: calc(100% + 19px);
    left: 0;
    right: 0;
    text-align: center;
    font-size: .9em;
    pointer-events: none;
  }
}

ms-footer {
  margin-top: -30px;
  transition: .3s margin-top ease-in-out;
}

:host(:hover) ms-footer {
  margin-top: 0;
}
