
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

:host {
  display: block;
  width: 815px;
  height: 770px;
  position: relative;
  transform-origin: top left;
  font-size: 1rem;
  color: white;
  font-family: Roboto, Arial;
  /* background is set from chart.tsx due to "publicPath" */
}
_:-ms-lang(x), :host { cursor: auto; }
_:-ms-lang(x), :host(:active) { cursor: auto; }

.chart {
  width: 100%;
  height: 100%;
  /* background is set from chart.tsx due to "publicPath" */
  background-repeat: no-repeat;
}
.class-icon {
  width: 100%;
  height: 100%;
  /* background is set from chart.tsx due to "publicPath" */
  background-repeat: no-repeat;
  background-position: calc(50% + 34px) calc(50% - 18px);
}
.chart > .class-icon > div {
  width: 100%;
  height: 100%;
  /* background is set from chart.tsx due to "publicPath" */
  background-position: 171px 88px;
  background-repeat: no-repeat;
}

ms-footer {
  margin-top: -30px;
  transition: .3s margin-top ease-in-out;
}

:host(:hover) ms-footer {
  margin-top: 0;
}

::slotted(ms-skill) {
  position: absolute;
}

::slotted(ms-skill[row="1"]) { top: 4px; }
::slotted(ms-skill[row="2"]) { top: 132px; }
::slotted(ms-skill[row="3"]) { top: 260px; }
::slotted(ms-skill[row="4"]) { top: 388px; }
::slotted(ms-skill[row="5"]) { top: 516px; }
::slotted(ms-skill[row="6"]) { top: 644px; }

::slotted(ms-skill[column="1"]) { left: 138px; }
::slotted(ms-skill[column="2"]) { left: 318px; }
::slotted(ms-skill[column="3"]) { left: 498px; }
::slotted(ms-skill[column="4"]) { left: 678px; }
