
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

$chart-width: 815px;
$chart-height: 770px;

@mixin chart-column($column) {
  left: -35px + ($column * 180px);
}
@mixin chart-row($row) {
  top: -105px + ($row * 128px);
}
