
@import url("https://fonts.googleapis.com/css?family=Roboto:500");

@mixin chart-column($column) {
  left: -28px + ($column * 180px);
}
@mixin chart-row($row) {
  top: -94px + ($row * 128px);
}

p {
  // margin: 4px 0; // replaced by line-height below
  color: #999999;
  margin: 1px 0;
  line-height: 1.6em;
}

[slot="description"] span {
  color: #0099CC;
}