
:host {
  position: relative;
}

ms-skill-overlay {
  display: none;
  position: absolute;
  margin: 0 20px;

  :host(:hover) & {
    display: block;
  }
}

[slot="description"] span {
  color: #0099CC;
}
