
:host {
  position: relative;
}

ms-skill-overlay {
  display: none;
  position: absolute;
  margin: 0 20px;

  :host(:hover) & {
    display: block;
  }
}

[slot="description"] span {
  color: #0099CC;
}

// TODO: This is a temporary hack until Firefox fixes ::slotted(*):after in Firefox 65: https://bugzilla.mozilla.org/show_bug.cgi?id=1502617
:host:after {
  content: attr(level) "/" attr(max);
  position: absolute;
  top: calc(100% + -5px);
  left: -19px;
  width: 109px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  pointer-events: none;
}