
:host {
  color: white;
  z-index: 100;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #2C2C2C;
  pointer-events: none;
  font-size: .9em;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px black;
}

h1 {
  text-transform: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3em;
  margin: 0;
  padding: .5em .7em;
  background: #1F1F1F;
  font-weight: normal;
  text-shadow: 1px 1px 1px black;
  background-size: cover !important;
}

h1 .element {
  font-size: .8em;
}


.content {
  padding: 10px 0 5px;
}
.content > div, ::slotted(:not(:empty)) {
  display: block;
  clear: both;
  padding: 5px 15px 5px;
}
.content > div:not(:first-of-type) {
  border-top: 1px solid #212121;
}
.content > div:not(:last-child) {
  border-bottom: 1px solid black;
}
::slotted(:not(:empty)) {
  border-top: 1px solid #212121;
}

.content-header {
  display: flex;
  margin-bottom: 15px;
}

.icon {
  margin-right: 15px;
  width: 44px;
  height: 50px;
  background-color: #434343;
  position: relative;
  padding: 2px 5px;
  border-radius: 3px;
}
.icon:before {
  content: ' ';
  position: absolute;
  top: -2px; bottom: -2px;
  left: -2px; right: -2px;
  z-index: -1;
  background: linear-gradient(to bottom, #1b1b1b 0%,#343434 100%);;
  border-radius: 3px;
}

.infoAndLevel {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}
.level {
  font-size: 1.5em;
}
.requirements {
  clear: both;
}
.requirements p:not(:first-child) {
  color: #ECC400;
}
.requirements p.fail {
  color: #CE3434;
}

p, ::slotted(*) {
  color: #999999;
  margin: 1px 0;
  line-height: 1.5em;
}

.description span {
  color: #0099CC;
}

.extras {
  font-style: italic;
}
