:host {
	display: block;
}

ms-skill {
  position: absolute;
  margin-top: 60px;
  margin-left: -25px;
  z-index: 1;
}


.bulwark {
  @include chart-row(5);
  @include chart-column(4);
}

.crossCut {
  @include chart-row(1);
  @include chart-column(1);
}

.defenderOfTheFaith {
  @include chart-row(6);
  @include chart-column(4);
}

.divineStrike {
  @include chart-row(3);
  @include chart-column(1);
}

.drillThrust {
  @include chart-row(5);
  @include chart-column(1);
}

.ironDefense {
  @include chart-row(1);
  @include chart-column(3);
}

.ironShield {
  @include chart-row(3);
  @include chart-column(3);
}

.longswordMastery {
  @include chart-row(6);
  @include chart-column(1);
}

.shieldBooster {
  @include chart-row(6);
  @include chart-column(3);
}

.shieldCharge {
  @include chart-row(1);
  @include chart-column(4);
}

.shieldMastery {
  @include chart-row(5);
  @include chart-column(3);
}

.shieldToss {
  @include chart-row(4);
  @include chart-column(2);
}

.shieldWall {
  @include chart-row(3);
  @include chart-column(4);
}

.stingingFlurry {
  @include chart-row(4);
  @include chart-column(1);
}

.tornadoSlash {
  @include chart-row(2);
  @include chart-column(1);
}

.typhoonSlash {
  @include chart-row(3);
  @include chart-column(2);
}

.warhorn {
  @include chart-row(4);
  @include chart-column(4);
}
