
:host {
  font-family: Roboto;
  position: absolute;
  top: 100%;
  right: 1px;
  color: white;
  text-align: center;
  font-size: .7em;
  padding: 0 5px 2px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: #1c1c1c;
  border-right: 1px solid #121212;
  box-shadow: inset -1px 0 #222222;
}

a {
  cursor: inherit;
  color: white;
}